body .modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#agregar:checked ~ .modal {
    opacity: 1;
    visibility: visible;
}

.contenido {
    width: 400px;
    height: 300px;
    margin: auto;
    background: white;
    transition: all 500ms ease;
    transform: translateY(-30%);
    position: relative;
    transform: translateY(-30%);
    border-radius: 4px;
    padding: 20px 20px;
    border: solid black 2px;
}

#agregar:checked ~ .modal .contenido {
    transform: translateY(0%);
}
