/*
amarillo #FFBF00
naranja #F27405
rosa #F279B2
verde #04D99D
rojo #F2220F
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  font-size: 70%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  background-color: white;
}

header a img {
  position: absolute;
  top: 1.5em;
  left: 0.5em;
  width: 16.6em;
  z-index: 100;

}

.encabezado {
  display: flex;
  padding-top: 2.3em;
  padding-right: 2em;
  margin-bottom: 1em;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
}

#carrito {
  font-size: 2.18em;
  color: #04D99D;
}

#buscador {
  border: #04D99D 1px solid;
  border-radius: 1em;
  margin: auto;
  width: 16.66em;
  height: 3.5em;
  padding-left:1em;
}

.menu {
  font-size: 1.6em;
}

nav {
  background-color: #FFBF00;
  
}

nav .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

nav li {
  width: 100%;
  box-sizing: border-box;
  transform: scale(1);
  text-align: center;
  padding: 0.5em;
}

nav li a {
  color: white;
}

nav li:hover {
  background-color: #F27405;
}

/*banner*/

ul.banner {
  position: relative;
  width: 100%;
  height: 150px;
}

ul.banner li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  padding: 0px;
  box-sizing: border-box;
}

ul.banner li img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

ul.banner li:first-child {
  opacity: 1;
}

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.opciones li {
  margin: 15px;
}

.opciones li a {
  display: inline;
  color: white;
  background-color: #04D99D;
  padding: 10px;
  height: 8px;
  font-size: 18px;
  border-radius: 100%;
}

ul.banner li:target {
  opacity: 1;
}

/*Categorías*/

.categoria_titulo {
  text-align: center;
  padding: 15px;
  background-color: #F27405;
}

.categoria_titulo a {
  color: white;
  font-size: 1.6em;
}

.categorias {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 95%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.categorias article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 260px;
  padding: 10px;
  padding-bottom: 22px;
  text-align: center;
  background-color: #F279B2;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5%;
}

.categorias a img {
  width: 180px;
  height: 150px;
  border-radius: 100%;
  transform: scale(1);
  transition: 1s;
}

.categorias a img:hover {
  transform: scale(1.2);
}

h3 {
  color: white;
  font-size: 25px;
  font-family: cursive;
  margin: 2px;
}

/*productos mas vendidos*/

.masvendidos_titulo {
  text-align: center;
  padding: 15px;
  background-color: #F27405;
}

.masvendidos_titulo a {
  color: white;
  font-size: 30px;
}

.masvendidos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.masvendidos div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 18px;
  box-sizing: border-box;
  width: 100%;
  height: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  transform: scale(1);
  position: relative;
}

.masvendidos a img {
  width: 160px;
  height: 180px;
  transform: scale(1);
  transition: 1s;
}

.masvendidos div:hover{
  border-radius: 15px;
  border: #04D99D 1px solid;
  transition: 0s;
}

.masvendidos a img:hover {
  transform: scale(1.2);
}

.nombre-articulo {
  position: absolute;
  bottom: 2px;
  border-radius: 10px;
  background-color: #04D99D;
  left: 6px;
  height: 30px;
  width: 95%;
  text-align: left;
  font-style: italic;
  font-size: 20px;
  color: white;
  padding-top: 2px;
  padding-left: 10px;
  box-sizing: border-box;
}

.masvendidos input {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 39px;
  right: 10px;
  font-size: 17px;
  text-align: center;
}

.preciop {
  position: absolute;
  width: 70px;
  height: 30px;
  background-color: #F27405;
  border-radius: 15px 0 0 15px;
  bottom: 70px;
  padding-top: 12px;
  right: 0%;
  border: #F27405 1px solid;
  font-style: italic;
  text-align: center;
  color: white;
}

.carritoir {
  color: white;
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 20px;
}

/*Formas de pago*/

h2 {
  text-align: center;
  padding: 15px;
  background-color: #F27405;
  color: white;
}

.formasdepago {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
}

.formasdepago img {
  width: 15.62em;
  height: 6.25em;
  margin-top: 0.5em;
}

/*footer*/

footer{
  background-color: #F279B2;
}
.piedepagina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: #F279B2;
  width: 90%;
  margin: auto;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.piedepagina div {
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
}
.columna2 p {
  margin: 10px;
}

.piedepagina img {
  width: 150px;
}

.columna3 i {
  font-size: 30px;
  color: white;
  margin: 10px;
}

.columna1 i {
  font-size: 20px;
  color: white;
}
@media screen and (min-width:48em ) {
  
  body {
    background-color: white;
  }
  
  ul li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  header {
    width: 100%;
    background-color: white;
  }
  
  header a img {
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 22.6em;
    z-index: 100;
  
  }
  
  .encabezado {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: white;
  }
  
  #carrito {
    font-size: 2.18em;
    color: #04D99D;
  }
  #contenedor-carrito{
      display: flex;
      flex-direction: row;
      text-align: center;
    }
    #cantidadDeProductos{
      font-size: 2.18em;
      margin-left: 0.5em;
    }
  
  #buscador {
    border: #04D99D 1px solid;
    border-radius: 1em;
    margin: auto;
    width: 30.66em;
    height: 3.5em;
    padding-left:1em;
    margin-bottom: 0.5em;
  }
  
  .menu {
    font-size: 1.6em;
  }
  
  nav {
    background-color: #FFBF00;
    
  }
  
  nav .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
    margin: auto;
  }
  
  nav li {
    width: calc(25% - 1em);
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
    transform: scale(1);
    text-align: center;
  }
  
  nav li a {
  
    color: white;
  
  }
  
  nav li:hover {
  
    background-color: #F27405;
  }
  
  /*banner*/
  .banner {
    display: flex;
    width: 100%;
  }
  
  ul.banner {
    position: relative;
    width: 100%;
    height: 230px;
  }
  
  ul.banner li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    padding: 0px;
    box-sizing: border-box;
  }
  
  ul.banner li img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  ul.banner li:first-child {
    opacity: 1;
  }
  
  .opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  
  .opciones li {
    margin: 15px;
  }
  
  .opciones li a {
    display: inline;
    color: white;
    background-color: #04D99D;
    padding: 10px;
    height: 8px;
    font-size: 18px;
    border-radius: 100%;
  }
  
  ul.banner li:target {
    opacity: 1;
  }
  
  /*Categorías*/
  
  .categoria_titulo {
    text-align: center;
    padding: 15px;
    background-color: #F27405;
  }
  
  .categoria_titulo a {
    color: white;
    font-size: 1.6em;
  }
  
  .categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .categorias article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(50% - 10px);
    height: 260px;
    padding: 10px;
    padding-bottom: 22px;
    text-align: center;
    background-color: #F279B2;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5%;
  }
  
  .categorias a img {
    width: 180px;
    height: 150px;
    border-radius: 100%;
    transform: scale(1);
    transition: 1s;
  }
  
  .categorias a img:hover {
    transform: scale(1.2);
  }
  
  h3 {
    color: white;
    font-size: 25px;
    font-family: cursive;
    margin: 2px;
  }
  
  /*productos mas vendidos*/
  
  .masvendidos_titulo {
    text-align: center;
    padding: 15px;
    background-color: #F27405;
  }
  
  .masvendidos_titulo a {
    color: white;
    font-size: 30px;
  }
  
  .masvendidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .masvendidos div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - 10px);
    padding-top: 25px;
    padding-bottom: 18px;
    box-sizing: border-box;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    transform: scale(1);
    position: relative;
  }
  
  .masvendidos a img {
    width: 160px;
    height: 180px;
    transform: scale(1);
    transition: 1s;
  }
  
  .masvendidos div:hover{
    border-radius: 15px;
    border: #04D99D 1px solid;
    transition: 0s;
  }
  
  .masvendidos a img:hover {
    transform: scale(1.2);
  }
  
  .nombre-articulo {
    position: absolute;
    bottom: 2px;
    border-radius: 10px;
    background-color: #04D99D;
    left: 6px;
    height: 30px;
    width: 95%;
    text-align: left;
    font-style: italic;
    font-size: 20px;
    color: white;
    padding-top: 2px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  
  .masvendidos input {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 39px;
    right: 10px;
    font-size: 17px;
    text-align: center;
  }
  
  .preciop {
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: #F27405;
    border-radius: 15px 0 0 15px;
    bottom: 70px;
    padding-top: 12px;
    right: 0%;
    border: #F27405 1px solid;
    font-style: italic;
    text-align: center;
    color: white;
  }
  
  .carritoir {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 20px;
  }
  .carritoir:hover{
      color: #F27405;
    }
  
  /*Formas de pago*/
  
  h2 {
    text-align: center;
    padding: 15px;
    background-color: #F27405;
    color: white;
  }
  
  .formasdepago {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .formasdepago img {
    width: 15.62em;
    height: 6.25em;
  }
  
  /*footer*/
  
  footer{
    background-color: #F279B2;
  }
  .piedepagina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: #F279B2;
    width: 90%;
    margin: auto;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .piedepagina div {
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: left;
  }
  .columna2 p {
    margin: 10px;
  }
  
  .piedepagina img {
    width: 150px;
  }
  
  .columna3 i {
    font-size: 30px;
    color: white;
    margin: 10px;
  }
  
  .columna1 i {
    font-size: 20px;
    color: white;
  }
  
}

@media screen and (min-width:60em ) {
  
body {
  background-color: white;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  background-color: white;
}

header a img {
  position: absolute;
  top: 0;
  left: 0.5em;
  width: 26.6em;
  z-index: 100;

}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
}

#carrito {
  font-size: 2.18em;
  color: #04D99D;
  margin-bottom: 1em;
  margin-left: 1em;
}

#buscador {
  border: #04D99D 1px solid;
  border-radius: 1em;
  margin-bottom: 1em;
  width: 30.66em;
  height: 3.5em;
  padding-left:1em;
  padding-right:1em;
}

.menu {
  font-size: 1.6em;
}

nav {
  background-color: #FFBF00;
  
}

nav .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
  width: 50%;
  margin: auto;
}

nav li {
  width: calc(25% - 1em);
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 1em;
  transform: scale(1);
  text-align: center;
}

nav li a {

  color: white;

}

nav li:hover {

  background-color: #F27405;
}

/*banner*/
.banner {
  display: flex;
  width: 100%;
}

ul.banner {
  position: relative;
  width: 100%;
  height: 300px;
}

ul.banner li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  padding: 0px;
  box-sizing: border-box;
}

ul.banner li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.banner li:first-child {
  opacity: 1;
}

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.opciones li {
  margin: 15px;
}

.opciones li a {
  display: inline;
  color: white;
  background-color: #04D99D;
  padding: 10px;
  height: 8px;
  font-size: 18px;
  border-radius: 100%;
}

ul.banner li:target {
  opacity: 1;
}

/*Categorías*/

.categoria_titulo {
  text-align: center;
  padding: 15px;
  background-color: #F27405;
}

.categoria_titulo a {
  color: white;
  font-size: 1.6em;
}

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 95%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.categorias article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(33.3% - 10px);
  height: 260px;
  padding: 10px;
  padding-bottom: 22px;
  text-align: center;
  background-color: #F279B2;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5%;
}

.categorias a img {
  width: 180px;
  height: 150px;
  border-radius: 100%;
  transform: scale(1);
  transition: 1s;
}

.categorias a img:hover {
  transform: scale(1.2);
}

h3 {
  color: white;
  font-size: 25px;
  font-family: cursive;
  margin: 2px;
}

/*productos mas vendidos*/

.masvendidos_titulo {
  text-align: center;
  padding: 15px;
  background-color: #F27405;
}

.masvendidos_titulo a {
  color: white;
  font-size: 30px;
}

.masvendidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}

.masvendidos div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(25% - 10px);
  padding-top: 25px;
  padding-bottom: 18px;
  box-sizing: border-box;
  height: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  transform: scale(1);
  position: relative;
}

.masvendidos a img {
  width: 160px;
  height: 180px;
  transform: scale(1);
  transition: 1s;
}

.masvendidos div:hover{
  border-radius: 15px;
  border: #04D99D 1px solid;
  transition: 0s;
}

.masvendidos a img:hover {
  transform: scale(1.2);
}

.nombre-articulo {
  position: absolute;
  bottom: 2px;
  border-radius: 10px;
  background-color: #04D99D;
  left: 6px;
  height: 30px;
  width: 95%;
  text-align: left;
  font-style: italic;
  font-size: 20px;
  color: white;
  padding-top: 2px;
  padding-left: 10px;
  box-sizing: border-box;
}

.masvendidos input {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 39px;
  right: 10px;
  font-size: 17px;
  text-align: center;
}

.preciop {
  position: absolute;
  width: 70px;
  height: 30px;
  background-color: #F27405;
  border-radius: 15px 0 0 15px;
  bottom: 70px;
  padding-top: 12px;
  right: 0%;
  border: #F27405 1px solid;
  font-style: italic;
  text-align: center;
  color: white;
}

.carritoir {
  color: white;
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 20px;
}
.carritoir:hover{
  color: #F27405;
}

/*Formas de pago*/

h2 {
  text-align: center;
  padding: 15px;
  background-color: #F27405;
  color: white;
}

.formasdepago {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
}

.formasdepago img {
  width: 15.62em;
  height: 6.25em;
}

/*footer*/

footer{
  background-color: #F279B2;
}
.piedepagina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: #F279B2;
  width: 90%;
  margin: auto;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.piedepagina div {
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
}
.columna2 p {
  margin: 10px;
}

.piedepagina img {
  width: 150px;
}

.columna3 i {
  font-size: 30px;
  color: white;
  margin: 10px;
}

.columna1 i {
  font-size: 20px;
  color: white;
}

}

.filtro{
  display: none;
}
